[Desktop Entry]
Name=Bazaar
Icon=Application Market
GenericName=AppMarket
Exec=bazaar
Icon=gnome-software
Terminal=false
Categories=GTK;Accessories;System
StartupNotify=true
Type=Application
